@charset "utf-8";

html {
}

body {
}

/* header */
header {
    background: #186ac9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    position: relative;
    flex: 0 0 80%;
    width: auto;
}

/* サイドバー */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 100vh;
}

#side-bar a {
    color: white;
    text-decoration: none;
}

.follow-count,
.follower-count {
    word-spacing: 20px;
}

.follow-btn,
.follower-btn {
    text-align: right;
    margin-bottom: 10px;
}

.divider {
    border: none;
    height: 1px;
    background-color: #b3b3b3;
    margin: 20px 0;
}

.search-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* アコーディオンメニュー */
/* ヘッダー */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #186ac9;
    padding: 10px 10px 0;
    color: white;
}

/* 矢印の設定 */
.arrow {
    font-size: 18px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

/* メニューリストの設定 */
.menu-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 50px;
    right: 0px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* ロゴのスタイル */
.logo {
    height: 40px;
    vertical-align: middle;
}

.menu-list li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background-color: #f0f0f0;
    color: #666;
}

.menu-list li:last-child {
    border-bottom: none;
}

.menu-list li:hover,
.menu-list li:active {
    background-color: #0056b3;
    /* 選択時に青に */
    color: white;
}

.menu-list a {
    text-decoration: none;
    color: #666;
    display: block;
}

/* クリック時の動き */

[x-show="open"] {
    display: block;
}

[x-clock] {
    display: none;
}

/* ユーザー名・アイコンの設定 */
.user-container {
    display: flex;
    align-items: center;
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.user-menu img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-name {
    margin: 0;
    font-size: 18px;
}

/* 投稿一覧のレイアウト */
.form-group {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #b3b3b3;
}

.form-group textarea {
    resize: none;
    width: 100%;
    border: none;
    padding-right: 50px;
}

.post-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.post-icon img {
    width: 50px;
    height: 50px;
}

li {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.user-icon {
    padding-left: 50px;
}
.post-content {
    width: 100%;
    padding: 15px;
}

.post-name {
    margin-bottom: 10px;
}

.edit-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    filter: invert(100%);
}

/* モーダルの中身*/
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    position: relative;
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

/* 投稿編集 */
.modal_post {
    width: 100%;
    height: 150px;
    padding-right: 50px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.modal__content input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 15px;
    background-color: #186ac9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 更新ボタン */
.icon-container {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.edit-submit-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}

.edit-submit-btn img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    outline: none;
}

/* フォローリスト */
.follow-icons {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 10px solid #b3b3b3;
    flex-wrap: wrap;
    width: 100%;
}

/* 各アイコンが10個以上になったら折り返し */
.follow-icons > a {
    display: inline-block;
    text-align: center;
}

.post-block {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.follow-name {
    margin-left: 20px;
}

/* フォロワーリスト */
.follower-icons {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 10px solid #b3b3b3;
    flex-wrap: wrap;
    width: 100%;
}

/* 各アイコンが10個以上になったら折り返し */
.follower-icons > a {
    display: inline-block;
    text-align: center;
}

.post-block {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.follower-name {
    margin-left: 20px;
}
